.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  width: 496px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  margin-bottom: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 440px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-bottom: 24px;
}

.modal__radio-input {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__legend {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__submit-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 127px;
  padding: 8px 16px;
  color: #fff;
  background-color: #0000004d;
  border: none;
  border-radius: 4px;
}
