.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 2;
  box-sizing: border-box;
  gap: 10px;
}

.card__name {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  padding: 2px 12px;
  background: #fff;
  border-radius: 4px;
}

.card__like-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card__img {
  width: 100%;
  cursor: pointer;
}
