.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}

.header__add-btn {
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user_name {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}

.header__user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}

.header__not-signed-in {
  margin-left: auto;
}

.toggle-switch-right {
  margin-left: 820px;
}

.header__signup {
  gap: 20px;
  background: transparent;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 20px;
}

.header__signup:hover {
  cursor: pointer;
  font-weight: 700;
}

.header__login {
  background: transparent;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 20px;
}

.header__login:hover {
  cursor: pointer;
  font-weight: 700;
}
