.modal__content_type_img {
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 496px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__img {
  width: 100%;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-top: 20px;
  padding-left: 32px;
  padding-bottom: 12px;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-left: 32px;
  padding-bottom: 32px;
}
